.profile__occupation {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .profile__occupation {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding-left: 16px;    
  }
  
}